{% extends 'base.html' %}
{% load static %}

{% block active %}
{% with active='aof' %}{{ block.super }}{% endwith %}
{% endblock %}

{% block title %}
<title>The Beatles | Area of Focus</title>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8 mt-3 left">
            {% if post_list %}
                {% for post in post_list %}
                    <div class="card mb-4">
                        <div class="card-body">
                            <h2 class="card-title">{{ post.title }}</h2>
                            <p class="card-text text-muted h6">{{ post.author }} | {{ post.created_on}} </p>
                            <p class="card-text">{{post.content|slice:":200" }}</p>
                            <a href="{% url 'post_detail' post.slug  %}" class="btn btn-primary" style="background-color:#2c3e50;">Read More &rarr;</a>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="card mb-4">
                    <div class="card-body">
                        <h2 class="card-title">No Posts Available</h2>
                    </div>
                </div>
            {% endif %}
        </div>
        {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}
    </div>
</div>
{% endblock content %}
