{% extends 'base.html' %}
{% load static %}

{% block active %}
    {% with active='home' %}{{ block.super }}{% endwith %}
{% endblock %}


{% block title %}
    <title>The Beatles | Home</title>
{% endblock %}

{% block content %}
    <div class="search-container d-flex align-items-center justify-content-center p-3 bg-light rounded-3 shadow-sm mx-auto my-3" style="border-radius:2.3rem !important;border: 0.5px solid #ced4da;">
        <input type="text" class="form-control me-2" placeholder="Find Nearest Restrooms" id="autocomplete">
        <button class="btn" style="background-color:#2c3e50;color:White;border-radius:20px;" data-bs-toggle="modal" data-bs-target="#filterModal">Filter</button>
    </div>



    <!-- Filter Modal -->
    <div class="modal fade" id="filterModal" tabindex="-1" aria-labelledby="filterModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="filterModalLabel">Filter Options</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <!-- Filter Form -->
            <form id="filterForm" method="get" action="">
              <!-- Your filter fields here -->
              <!-- Example: -->
                <div class="mb-3">
                <label for="sort" class="form-label">Rating</label>
                <select class="form-select" id="sort" name="sort">
                  <option value="">Sort By</option>
                  <option value="distance">Distance</option>
                  <option value="rating">Rating</option>
                </select>
              </div>

              <div class="mb-3">
                <label for="rating" class="form-label">Rating</label>
                <select class="form-select" id="rating" name="rating">
                  <option value="">Any</option>
                  <option value="3.0">3.0+</option>
                  <option value="4.0">4.0+</option>
                  <option value="5.0">5.0</option>
                </select>
              </div>
                <div class="mb-3">
                    <input type="checkbox" id="w_chair_comp" name="w_chair_comp" value="yes">
                    <label for="w_chair_comp"> Wheelchair Accessible Entrance</label><br>
              </div>
              <!-- Add more filters as needed -->
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" form="filterForm" class="btn btn-primary">Apply</button>
          </div>
        </div>
      </div>
    </div>

    <div id="restroomsList"></div>

    <div id="map" style="width: 100%; height: 400px;"></div> <!-- The map container -->

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCxEhJzSEW4WQOINMyTdUblD0w5WRd-n4w&libraries=places&callback=initMap" async defer></script>
<script>
        var map, directionsService, directionsRenderer, currentLocation, currentRouteSteps;
        var isCurrentLocationAvailable = false;

        function initMap() {

            map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: -34.397, lng: 150.644},
                zoom: 8
            });

            directionsService = new google.maps.DirectionsService();
            directionsRenderer = new google.maps.DirectionsRenderer();
            directionsRenderer.setMap(map);

            var input = document.getElementById('autocomplete');
            autocomplete = new google.maps.places.Autocomplete(input);

            // Listener for when a user selects a place
            autocomplete.addListener('place_changed', function() {
                var place = autocomplete.getPlace();
                if (!place.geometry) {
                    console.log("No details available for input: '" + place.name + "'");
                    return;
                }

                // Find nearby restrooms based on the selected place's location
                findNearbyRestrooms(place.geometry.location);
            });

            // Optionally get current location on page load
            getCurrentLocation();
        }

        function calculateAndDisplayRoute(directionsService, directionsRenderer, origin, destination, mapContainer) {
            directionsService.route({
                origin: origin,
                destination: destination,
                travelMode: google.maps.TravelMode.DRIVING
            }, function(response, status) {
                if (status === 'OK') {
                    // Set the map to the new container
                    directionsRenderer.setMap(new google.maps.Map(mapContainer, {
                        zoom: 8
                    }));
                    directionsRenderer.setDirections(response);
                    mapContainer.style.display = 'block'; // Show the map
                } else {
                    console.log('Directions request failed due to ' + status);
                }
            });
        }

        function findNearbyRestrooms(location) {
            let service = new google.maps.places.PlacesService(document.createElement('div'));
            service.nearbySearch({
                keyword: 'restroom',
                location: location,
                radius: 20000, // Search in a 20,000 meter radius
                type: ['restroom'],
            }, processNearbyRestroomResults);
        }

        function processNearbyRestroomResults(results, status) {
            if (status === google.maps.places.PlacesServiceStatus.OK) {
                nearbyRestrooms = []; // Clear previous restroom places
                let detailsCounter = 0; // A counter to track the number of details fetched
                results.forEach(place => {
                    const service = new google.maps.places.PlacesService(document.createElement('div'));
                    service.getDetails({
                        placeId: place.place_id
                    }, (placeResult, placeStatus) => {
                        if (placeStatus === google.maps.places.PlacesServiceStatus.OK) {
                            // Save the detailed information
                            nearbyRestrooms.push({
                                address: placeResult.formatted_address,
                                lat: placeResult.geometry.location.lat(),
                                lng: placeResult.geometry.location.lng(),
                                name: placeResult.name,
                                rating: placeResult.rating ? placeResult.rating : null,
                                photoUrl: placeResult.photos ? placeResult.photos[0].getUrl() : null
                            });

                            // When all details have been fetched, handle the data
                            if (++detailsCounter === results.length) {
                                handleNearbyRestrooms(nearbyRestrooms);
                            }
                        }
                    });
                });
            }
        }

        function handleNearbyRestrooms(restrooms) {
            // Find or create a container element to display the restrooms
            let container = document.getElementById('restroomsList');
            if (!container) {
                container = document.createElement('div');
                container.id = 'restroomsList';
                document.body.appendChild(container);
            }

            // Clear the previous content
            container.innerHTML = '';

            // Loop through the restrooms array and create card items
            restrooms.forEach(function(restroom, index) {
                // Create the card element with Bootstrap classes
                let card = document.createElement('div');
                card.classList.add('card', 'mb-3');

                // Add restroom details to the card
                let cardBody = document.createElement('div');
                cardBody.classList.add('card-body');

                let title = document.createElement('h5');
                title.classList.add('card-title');
                title.textContent = restroom.name;

                let text = document.createElement('p');
                text.classList.add('card-text');
                text.textContent = restroom.address;

                if (isCurrentLocationAvailable) {
                    let button = document.createElement('a');
                    button.classList.add('btn', 'btn-primary', 'get-directions-btn');
                    button.textContent = 'Get Directions';
                    button.setAttribute('href', '#');
                    button.setAttribute('data-lat', restroom.lat);
                    button.setAttribute('data-lng', restroom.lng);
                    button.addEventListener('click', function(e) {
                        e.preventDefault();
                        removeExistingMapContainers();
                        let mapContainer = createMapContainer(index);
                        insertMapContainerAfter(card, mapContainer);

                        if (currentLocation) {
                            let destination = new google.maps.LatLng(parseFloat(this.getAttribute('data-lat')), parseFloat(this.getAttribute('data-lng')));
                            calculateAndDisplayRoute(directionsService, directionsRenderer, currentLocation, destination, mapContainer);
                        } else {
                            console.log("Current location is not yet defined.");
                        }
                    });
                    cardBody.appendChild(button);
                }

                // Append elements to the card body
                cardBody.appendChild(title);
                cardBody.appendChild(text);


                // Append the card body to the card, and the card to the container
                card.appendChild(cardBody);
                container.appendChild(card);
            });
        }

        function removeExistingMapContainers() {
            let existingContainers = document.querySelectorAll('.map-container');
            existingContainers.forEach(container => container.remove());
        }


        function createMapContainer(index) {
            let mapContainer = document.createElement('div');
            mapContainer.id = 'mapContainer-' + index;
            mapContainer.style.display = 'block'; // Initially hidden
            mapContainer.classList.add('map-container');
            mapContainer.classList.add('mb-3');
            mapContainer.style.height = '400px';
            mapContainer.style.width = '400px';
            return mapContainer;
        }

        function insertMapContainerAfter(element, newElement) {
            element.parentNode.insertBefore(newElement, element.nextSibling);
        }

        function getCurrentLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function(position) {
                    // Define currentLocation as a LatLng object
                    currentLocation = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
                    isCurrentLocationAvailable = true;
                    findNearbyRestrooms(currentLocation);
                    // Now currentLocation is ready to be used in calculateAndDisplayRoute
                }, function(error) {
                    console.error("Error getting current location:", error);
                    isCurrentLocationAvailable = false;
                });
            } else {
                console.log("Geolocation is not supported by this browser.");
                isCurrentLocationAvailable = false;
            }
        }

</script>
{% endblock content %}
