{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }

</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
        <h5 class="card-header">About Us</h5>
    <div class="card-body">
        <p class="card-text"> Restroom Finder is a dedicated platform for individuals with disabilities to locate accessible restrooms with ease and dignity.</p>
        <a href="/about/" class="btn btn-danger" style="background-color: #ff6b6b; color: #fff;">
            Know more!
        </a>
        
    </div>
</div>
</div>

{% endblock sidebar %}
